@inject IBikeStoresService BikeStoreService

<h3>Create new Store</h3>
<EditForm Model="theStore" OnSubmit="HandleSubmit">
    <div class="form-group">
        <label>Name</label>
        <InputText @bind-Value="theStore.name" class="form-control"></InputText>
    </div>
    <div class="form-group">
        <label>City</label>
        <InputText @bind-Value="theStore.city" class="form-control"></InputText>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</EditForm>

@code {
    public TheStore.Shared.Store theStore { get; set; } = new TheStore.Shared.Store();

    async void HandleSubmit()
    {
        Console.WriteLine("Submit was called.");
        Console.WriteLine(theStore.name);
        await BikeStoreService.CreateBikeStore(theStore);
    }
}
